mixin section-map
	section.section-map#section-map
		.section-map__pin 
			|Мы на карте
		#map
			<script async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1b6017b0586090a54739e9e4d5c6047e9957f09b123f2658437bbdfb78de9447&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
