.section-form {
  font-family: 'Open Sans Bold';
  margin-top: -50px; 
  position: relative;
  .box {
    margin-bottom: 80px;
    @include media768 {
      margin-bottom: 30px;
    } 
  }   
}
.box {
  background-color: $bg-color;
  display: flex;
  align-items: center;
  padding: 50px 0;
  width: 100%;  
  box-shadow: 5px 5px 10px rgb(104, 104, 104);
  @include media768 {
    flex-direction: column; 
  }
  @include media768 {
    padding: 25px 0;
  }
  &__title {
    font-size: 30px;
    font-family: 'Open Sans Bold';
    color: #fff;
    width: 40%;    
    padding: 0 40px;  
    flex-shrink: 0;
    @include media1200 {
      font-size: 30px;
      max-width: 380px;
    }  
    @include media768 {
      font-size: 22px;   
      width: 100%;  
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    padding: 40px; 
    border-left: 3px solid #fff;  
    @include media768 {
      border: none;     
    }
    @include media768 {
      padding: 0 20px;
    }
  }  
}

.form {  
  &__row {
    display: flex;
    overflow: hidden;
    align-items: center;
    min-height: 50px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 20px;
    @include media1200 {
      flex-direction: column;
      margin-bottom: 0;
    }
  }
  &__row:last-child {
    margin-bottom: 0;
  }
  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #fff url("/images/arrow.svg") no-repeat 90% center/10px;
    outline: 0;
    border: none;
    width: 33%;
    min-height: 50px;
    border-right: 2px solid #000;
    padding: 0 30px;
    font-size: 16px;   
    @include media1200 {
      width: 100%;
      border: none;
      border-radius: 15px;
      margin-bottom: 20px;
    }
    @include media768 {
      min-height: 45px;     
    }
  }
  &__select:last-child {
    border: none;
    width: 34%;
    @include media1200 {
      width: 100%;     
    }
  }
  &__input {
    outline: 0;
    border: none;
    width: 33%;
    min-height: 50px;
    border-right: 2px solid #000;
    padding: 0 30px;
    font-size: 16px;  
    color: #000;
    &::placeholder {
      color: #000;
    }   
    @include media1200 {
      width: 100%;
      border: none;
      border-radius: 15px;
      margin-bottom: 20px;
    }
    @include media768 {
      min-height: 45px;     
    }
  }
  &__input:last-child {
    border: none;
    @include media768 {
      margin-bottom: 0;
    }
  }
  &__input--submit {
    background: $accent;
    border-radius: 15px;
    width: auto;
    position: relative;
    transform: translateX(-40px);
    &:hover {
      color: #fff;
    }
    @include media1200 {
      transform: translateX(0px);
    }    
  }
}
.section-advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  @include media768 {
    margin-bottom: 60px;
    flex-wrap: wrap;
  }
}
.advantage { 
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media768 {
    width: 100%; 
    margin-bottom: 28px;
  }
  &__number {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid $text;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(-60px, 10px);
    @include media768 {
      width: 20px;
      height: 20px;  
      transform: translate(-40px, 10px); 
    }
  }
  &__icon {
    color: $text;    
    margin-bottom: 20px;
    svg {
      width: 80px;
      height: 80px;
      @include media1200 {
        width: 50px;
        height: 50px;
      }
      @include media768 {
        width: 45px;
        height: 45px;        
      }
    } 
    @include media768 {
      margin-bottom: 10px;      
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    @include media768 {
      margin-bottom: 16px;      
    }
  }
}