mixin section-first-screen
	
	section.section-first-screen#section-first-screen
		+header
		.container
			.section-first-screen__wrap
				h1.section-first-screen__title
					|Быстрое оформление КАСКО
				.section-first-screen__address
					|Москва, ул. Никольская, 10
				.section-first-screen__info.info
					h2.info__subtitle
						|Лучшая цена 
						br
						|для лучших водителей!
					.info__block#counts
						.info__row
							.info__number.count 8200
							.info__text 
								|оформленных страховок
						.info__row
							.info__number.count 90
							.info__text 
								|% повторных обращений
						.info__row
							.info__number.count 230
							.info__text 
								|компаний- партнеров       